*, *::before, *::after {
    box-sizing: border-box;
}

.checkout-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkout-form {
    margin-top: 5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    height: 50vh;
    padding: 1.5rem;
    width: 100%;
    max-width: 30rem; 
    border: 0.2rem solid green;

    background-color: white;
}

.checkout-form label {
    display: flex;
    flex-direction: column;

    width: 100%;

    font-weight: bold;
}

.address-input {
    line-height: 2;
}

.place-order {
    display: inline-block;

    padding: 0.5rem;
    margin-top: 1rem;

    border: 0.1rem solid #218838;
    border-radius: 0.5rem;
    
    background-color: #28a745;
    color: white;

    text-align: center;
    font-weight: bold;
    font-size: 0.9rem;
}

.place-order:hover {
    background-color: #218838;
    cursor: pointer;
}

.details {
    color: #218838;

    font-weight: bold;
    font-size: 1.2rem;
}

.payment-option {
    color: #218838;

    font-weight: bold;
    font-size: 1.1rem;
}